<% layout("/layouts/boilerplate.ejs") %>
<header class="masthead bg-primary text-white text-center py-5" style="background-image: url('assets/img/home-bg.jpg'); background-size: cover; background-position: center;">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="site-heading pt-5">
                    <h1 class="display-4 fw-bold">Infomania</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row justify-content-center mb-4">
        <div class="col-md-6 text-center">
            <h3 class="mb-3">
                <span class="text-muted">Title:</span> <%= blog.title %>
            </h3>
        </div>
        <div class="col-md-6 text-center">
            <h3 class="mb-3">
                <span class="text-muted">Category:</span> <%= blog.category.name %>
            </h3>
        </div>
    </div>
    <div class="text-center mb-4">
        <img src="<%= blog.thumbnailImage %>" alt="Thumbnail" class="img-fluid rounded shadow" style="max-width: 100%; height: auto;">
    </div>
    <div class="content">
        <h3 class="text-muted">Description:</h3>
        <p class="fs-5">
            <%- blog.description %>
        </p>
    </div>
</div>
