<% layout("/layouts/dashboard.ejs") %>

<div class="text-center d-flex justify-content-center align-items-center" style="height: 70vh;">
    <h1 style="color: #0085A1;">Welcome to the Dashboard</h1>
</div>
